ul {
    width: 100vw;
    height: 5vh;
    margin: 10px;
}
ul {
    display: flex;
    width: 100%;
}

li {
    background-color: aquamarine;
    border: 1px solid black;
    margin: 0 3px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

#first {
    flex: 2;
}

#second {
    flex: 4;
}

#third {
    flex: 1;
}

#four {
    flex: 8;
}

#five {
    flex-basis: 250px;
}