* {
  padding: 0;
  margin: 0;
}

nav, section {
  margin: 25px;
  background: #ee4141;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}